In [2]:
items=[1,2,3,4,5,6,7,8,9]

sum_total=0
for item in items:
    print('\nthe item is-->',item)
    sum_total=sum_total+item
    print('now total sum is -->',sum_total)

the item is--> 1
now total sum is --> 1

the item is--> 2
now total sum is --> 3

the item is--> 3
now total sum is --> 6

the item is--> 4
now total sum is --> 10

the item is--> 5
now total sum is --> 15

the item is--> 6
now total sum is --> 21

the item is--> 7
now total sum is --> 28

the item is--> 8
now total sum is --> 36

the item is--> 9
now total sum is --> 45

In [21]:
def sum_fun(input):
    sum_total=0
    for item in input:
        #print('\nthe item is-->',item)
        sum_total=sum_total+item
        #print('now total sum is -->',sum_total)
    output=sum_total
    return(output) 

sum_fun([1,2,3,4,5,'6',7,8,9])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
def sum_fun2(input):
    n=len(input)
    return((n)*(n+1)/2)

sum_fun2([1,2,3,4,5,6,7,8,9])

45.0

In [6]:
sum_fun([])

0

In [10]:
sum_fun([1,2,3,4,'hey','5',6,7,8,9])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
type('5')

str

In [12]:
type(5)

int

In [13]:
type([3,4,'hey'])

list

In [14]:
type(sum_fun)

function

In [17]:
listt=[1,2,'hey']
type(listt[0])

int

In [18]:
type(listt[2])

str

In [19]:
a='4'+'6'
a

'46'

In [20]:
a=4+6
a

10

In [22]:
a=[1,2,'3',4,5,'hey','hello',-2 , 3.5]

In [23]:
13.5/6

2.25

In [26]:
new_list=[]
for item in a:
    if type(item) == int or type(item) == float:
        new_list.append(item)
new_list

[1, 2, 4, 5, -2, 3.5]

In [27]:
sum_fun(new_list)

13.5

In [28]:
aa=[1,2,3,4,5]
aa.remove(2)
aa

[1, 3, 4, 5]

In [30]:
aa=[1,2,3,4,5]
aa.pop()

5

In [31]:
aa

[1, 2, 3, 4]

In [32]:
aa.pop()

4

In [33]:
aa

[1, 2, 3]

In [34]:
aa.pop(-1)

3

In [35]:
1==1

True

In [37]:
a=1

In [38]:
2>=1

True

In [39]:
3>1

True

In [40]:
3 == 3

True

In [41]:
3 == 4

False

In [42]:
3 !=4

True

In [44]:
a=[1,2,3,4,5]
len(a) == 5

True

In [45]:
n=1
while n <16:
    print(n)
    n=n+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [47]:
for item in range(1,16):
    print(item)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [50]:
9+2

11

9-2

In [51]:
9-2

7

In [52]:
9/2

4.5

In [53]:
9//2

4

In [54]:
9%2

1

In [55]:
try:
    1 / 0
    print('not executed due to the exception')
except:
    print('Divide by zero!')

Divide by zero!

In [58]:
sum_fun([2,3,4,'hi'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
try:
    sum_fun([2,3,4,'hi'])
except:
    print('There is something wrong with ur function')

There is something wrong with ur function

In [60]:
with open('../session_3/assets/datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()
    print(lines)    
    print('\n')

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n', '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n', '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n', '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n', '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n', '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n', '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n', '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n', '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n', '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n', '3/17/2015 18:39:23,Hugh,1,5,5,4,5,2,5,4,1\n', '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n', '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n', '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n', '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n', '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n', '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n', '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n', '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n', '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n', '3/17/2015 18:42:01,Cheong-tseng,3,1,,,,,4,,']

In [61]:
a=[1,2,3,4,5,6,7,8,9,10]
a[0]

1

In [62]:
a[0:3]

[1, 2, 3]

In [63]:
aa=[6,3,2,10,10,6,4,5,6,7,2,7,4,3,7,8]
aa[3:6]

[10, 10, 6]

In [65]:
aa[0:9:2]

[6, 2, 10, 4, 6]

In [66]:
text='hi there how are you'
text[2]

' '

In [67]:
text[0:2]

'hi'

In [68]:
text[9::2]

'hwaeyu'

In [69]:
text[9::-1]

'h ereht ih'

In [100]:
input_list=[2,5,9,6,8]

In [101]:
# A function that takes a list but only returns the evens
def func_even(input_list):
    output_list=[]
    for item in input_list:
        if item%2==0:
            output_list.append(item)       
    return(output_list)

In [102]:
func_even(input_list)

[2, 6, 8]

In [132]:
def is_prime(number):
    count=0
    for num in range(2,number):
        if number%num==0:
            count=count+1
            
    if count==0:
        return('yes')
    else:
        return('no')
        
is_prime(9)

'no'

In [133]:
input_listt=[1,2,3,4,5,6,7,8,9,10,11,12,13]
primes=[]
for item in input_listt:
    if is_prime(item)=='yes':
        primes.append(item)
primes

[1, 2, 3, 5, 7, 11, 13]

In [135]:
input_listt=[1,2,3,4,5,6,7,8,9,10,11,12,13]
primes=[]
for num in range(2, 16):
    count=0
    for div in range(2, num):
        if num % div == 0:
            count=count+1
    if count==0:
        #print(num)
        primes.append(num)
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43]

In [138]:
for item in range(2,16):
    for item2 in range(2,item):
        print(item, item2)

3 2
4 2
4 3
5 2
5 3
5 4
6 2
6 3
6 4
6 5
7 2
7 3
7 4
7 5
7 6
8 2
8 3
8 4
8 5
8 6
8 7
9 2
9 3
9 4
9 5
9 6
9 7
9 8
10 2
10 3
10 4
10 5
10 6
10 7
10 8
10 9
11 2
11 3
11 4
11 5
11 6
11 7
11 8
11 9
11 10
12 2
12 3
12 4
12 5
12 6
12 7
12 8
12 9
12 10
12 11
13 2
13 3
13 4
13 5
13 6
13 7
13 8
13 9
13 10
13 11
13 12
14 2
14 3
14 4
14 5
14 6
14 7
14 8
14 9
14 10
14 11
14 12
14 13
15 2
15 3
15 4
15 5
15 6
15 7
15 8
15 9
15 10
15 11
15 12
15 13
15 14