In [15]:
import pandas as pd
import numpy as np

In [28]:
f_2 = lambda x: x*x

In [29]:
f_2(5)

25

In [30]:
f_diff = lambda x: max(x) - min(x)

In [31]:
f_diff([2,6,8])

6

## Another frequent operation is applying a function on 1D arrays to each column or row. DataFrameâ€™s apply method does exactly this:

In [16]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [17]:
frame

               b         d         e
Utah   -0.973845  0.845910  0.472541
Ohio    1.061573 -1.334716  1.301773
Texas   0.610496 -0.878461  1.109662
Oregon  0.678018  0.961509 -0.567791

In [18]:
f = lambda x: x.max() - x.min()

In [19]:
def ff(x):
    return(x.max())

In [20]:
frame.apply(ff,axis=0)

b    1.061573
d    0.961509
e    1.301773
dtype: float64

In [21]:
frame.apply(ff, axis=1)

Utah      0.845910
Ohio      1.301773
Texas     1.109662
Oregon    0.961509
dtype: float64

## Many of the most common array statistics (like sum and mean) are DataFrame methods, so using apply is not necessary.

Element-wise Python functions can be used, too. Suppose you wanted to compute a formatted string from each floating point value in frame. You can do this with applymap:

In [22]:
format = lambda x: '%.2f' % x

In [23]:
frame.applymap(format)

            b      d      e
Utah    -0.97   0.85   0.47
Ohio     1.06  -1.33   1.30
Texas    0.61  -0.88   1.11
Oregon   0.68   0.96  -0.57

## The reason for the name applymap is that Series has a map method for applying an element-wise function:

In [24]:
frame['e'].map(format)

Utah       0.47
Ohio       1.30
Texas      1.11
Oregon    -0.57
Name: e, dtype: object

In [25]:
frame

               b         d         e
Utah   -0.973845  0.845910  0.472541
Ohio    1.061573 -1.334716  1.301773
Texas   0.610496 -0.878461  1.109662
Oregon  0.678018  0.961509 -0.567791